.grunwald {
    width: 100vw;
    height: 100vh;
    cursor: url(../images/cursor.png), auto;
    position: relative;
    background-color: #800020;
    display: flex;
    align-items: center;

    .container {
        position: relative;

        img {
            height: auto;
            width: 100vw;
        }

        svg {
          height: auto;
          width: 100vw;
        }
    }
}
@media (max-width: 760px) {
    .grunwald {
        background: url("../images/bitwa.jpg") no-repeat center center fixed;
        -webkit-background-size: contain;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-size: cover;
        background-color: #800020;
        cursor: auto;

        img {
            display: none;
        }
    }
}
