.grunwald {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #800020;
    display: flex;
    align-items: center;

    .container {
        position: relative;

        img {
            height: auto;
            width: 100vw;
            transition: 0.3s all;
            filter: blur(1.5px);
        }

        svg {
            height: auto;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }

        .popup{
            position: absolute;
            // max-width: 15%;
            width:auto;
            max-height: 65%;
            max-width: 35%;
            z-index: 2;
        }
    }
}
@media (max-width: 760px) {
    .grunwald {
        background: url("../images/bitwa.jpg") no-repeat center center fixed;
        background-size: cover;
        background-color: #800020;
        cursor: auto;

        img {
            display: none;
        }

        svg {
            display: none;
        }

        .pulse {
            display: none;
        }
    }
}
