.grunwald{
  background: url(../images/bitwa.jpg) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width:100vw;
  height:100vh;
  cursor: url(../images/cursor.png), auto;
  position: relative;
  background-color: #800020;
  background-position: fixed;
}

@media (max-width: 760px) {
  .grunwald {
  background-size: cover;
  background-color: #800020;
  cursor: auto;
 }
}
