@import 'grunwald';
@import 'popup';
@import 'popupMobile';
@import 'next';
@import 'about';
@import 'app';
@import 'hotspot';


* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Playfair Display', Georgia, Garamond, Times, serif;
}
