#next{
  background: url(../images/strzalka.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 100%;
  height:20px;
  // background-position: right bottom;
  background-position: 85% 70%;
}

#nextMobile{
  background: url(../images/strzalkaBordo.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 100%;
  height:20px;
  // background-position: right bottom;
  background-position: 85% 70%;
}
