* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}

.popup {

}

.grunwald {
    background-image: url('./images/bitwa.jpg');
    width: 199px;
    height: auto;

}
